<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/envio" method="post">
        <label for="user">Usuário</label>
        <input type="text" value="{{func.nome}}" name="nome">
        <label for="user">Departamento</label>
        <input type="number" value="{{func.idDepto}}" name="idDepto">
        {% if id!='' %}
            {% block content %}
            <input type="number" value="{{func.id}}" name="id">
            {% endblock content %}           
        {% endif %}
        
        <button type="submit">enviar</button>
    </form>
</body>
</html>